<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Password=usuariored;Persist Security Info=False;User ID=usuariored;Initial Catalog=demo344;Data Source=GERENCIA"/>
    <add key="connectionCommandTimeout" value="500" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NombreEmpresa" value="Distribuidora Comercial Meche H. y B. E.I.R.L"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>